// colours
$white: #fff;
$black: #000;
$orange: #e47b25;
$yellow: #fbb040;
$blue-dark: #08283F;
$blue-light: #3b89a7;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');
@font-face {
  font-family: 'orangejuice';
  src: url('../fonts/orange-juice.woff');
}

$font-main: 'Source Sans Pro', sans-serif;

// device sizes
$tablet: 768px;
$wide: 1030px;

// animations
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 18px;
  line-height: 140%;
  color: $blue-dark;
  font-family: 'Source Sans Pro', sans-serif;
}

// override parent styles by wrapping with container id
#container {

  p {
    margin-top: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 110%;

    &.alt-font {
      font-family: 'Source Sans Pro';
    }
  }

  h2 {
    font-size: 3.5em;
  }

  h4 {
    font-size: 1.8em;
  }

  hr {
    margin: 2em 0;
    border: none;
    height: 1px;
    background-color: $blue-light;
  }

  // header
  .header {
    background-color: #f89827;
    background-image: url(https://southernaboriginalsports.com.au/wp-content/uploads/2021/05/Website-Background-1.jpg);
    background-size: cover;
    background-position: top center;

    .hamburger {
      transform: scale(.75);
      transform-origin: top right;
      position: absolute;
      right: 0px;
      background-color: $white;
      border-radius: 0 0 0 8px;
      display: flex;
      flex-direction: column;
      padding: 10px;
      opacity: .8;

      &:hover {
        opacity: 1;
      }

      p {
        margin: .3em 0 0 0;
        line-height: 0;
      }

      .hamburger-inner {

        &:before {
          background: #ffc72c;
        }

        &:after {
          background: #d22631;
        }
      }
    }

    nav {
      font-size: .9rem;
      display: none;
    }

    // header responsive for wider devices
    @media (min-width: $tablet) {

      .hamburger {
        display: none;
      }

      nav {
        display: inherit;

        ul.nav {
          display: flex;
        }
      }
    }
  }

  .section-header-logo {
    display: flex;
    flex-direction: column;
    text-align: center;

    a {
      line-height: 0;
    }
    
    svg {
      width: 150px;
      height: 150px;
      margin: auto;
    }

    h4 {
      font-size: clamp(.9rem, 4vw, 1.3rem );
      line-height: 110%;
      margin-bottom: 1em;
    }

    @media (min-width: $tablet) {

      text-align: left;

      svg {
        width: 200px;
        height: 200px;
        
      }

      // header layout
      .header-layout {
        //outline: 3px solid blue;
        height: 100%;
        align-items: start;
        justify-content: flex-end;
        margin: 0;

        @media (min-width: $wide) {
          padding-left: 2vw;
        }
      }

      h4 {
        margin: 3rem 0 1.05rem 0;
      }

      // nav styles
      .nav {
        padding-bottom: 1em;
      }

      .nav > li {
        margin-right: 1px;

        &:first-child a {
            border-radius: 5px 0 0 5px;
          }

        &:last-child  a{
          border-radius: 0 5px 5px 0;
        }

        a {
          text-decoration: none;
          background: $blue-dark;
          padding: 1rem .8rem;
          font-size: .9rem;

          &:hover {
            background: $blue-light;
          }
        }

        .sub-menu {
          //visibility: visible;
          background: none;
          border: none;

          a {
            min-width: 180px;
          }
        }
      }
    }
  }

  // header sticky on scroll
  .header.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation: fade-in .2s 1;
    z-index: 10;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.2);

    svg {
      width: 100px;
      height: 100px;
    }

    .section-header-logo .header-layout {
      justify-content: center;
    }

    nav {
      margin: 0 auto 0 0;

      ul {
        padding: 0;
      }
    }

    .alt-font {
      display: none;
    }
  }


  // utilities
  .u-center {
    text-align: center;
  }

  .u-margin-bottom-zero {
    margin-bottom: 0;
  }

  .u-margin-bottom-half {
    margin-bottom: .5rem;
  }

  .u-margin-bottom-1rem {
    margin-bottom: 1rem;
  }

  .u-margin-bottom-2rem {
    margin-bottom: 2rem;
  }

  .u-bg-color {
    padding: 2vh 2vw;

    * {
      color: $white;
    }

    &.u-bg-color--orange {
      background-color: $orange;
    }
  }

    .o-grid-layout {
    display: grid;

    > * {
      margin: auto;
    }
  }

  @media (min-width: $tablet) {
    
    .o-grid-layout--auto-1 {
      grid-template-columns: auto 1fr;
    }
  }

  .o-flex-layout {
    display: flex;

    &.o-flex-layout--column {
      flex-direction: column;
    }

    &.o-flex-layout--space-evenly {
      justify-content: space-evenly;
    }
  }



  // events page
  .sas-presents-logo {
    width: auto;
    max-width: 100%;
    max-height: 200px;
  }
}

// sidebar
.widget {
  padding: 0 10px;
  margin: 2.2em 0;
}

.sidebar {
  background-color: rgba($yellow, 1);
  background-image: url(https://southernaboriginalsports.com.au/wp-content/uploads/2021/05/Website-Background-1.jpg);
  background-size: cover;
  background-position: top center;
  border-radius: 8px;
}


// search
.searchform {
  display: flex;
  flex-direction: column;
  font-size: 1rem;

  input[type='search'] {
    border: 2px solid $blue-light;
    background: $white;
    min-width: 100%;
    box-sizing: inherit;
    padding: 12px;
    font-family: $font-main;
    margin-bottom: .5rem;
    color: $blue-dark;
  }

  button {
    align-self: flex-start;
    border: none;
    background-color: rgba($blue-light, .8);
    padding: 6px 16px;
    border-radius: 4px;
    font-weight: 700;
    transition: all .2s ease-out;

    &:hover {
      background-color: $blue-dark;
      color: $yellow;
      transform: scale(1.05);
      transform-origin: top left;
    }
  }
}















  