@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap");
@font-face {
  font-family: "orangejuice";
  src: url("../fonts/orange-juice.woff");
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.highlighter {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='100%25' height='16'%3E%3Crect width='100%25' height='100' style='fill:%2337c3db;stroke-width:3;'/%3E%3C/svg%3E");
  background-size: 100% 12px;
  position: relative;
  padding: 0 5px;
  margin: 0 -5px;
  background-position: center bottom 7px;
  background-repeat: repeat-x;
}

.intro-full-width {
  padding: 1rem;
  background-color: rgba(59, 137, 167, 0.2);
  margin-bottom: 5rem;
}
.intro-full-width img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.intro-full-width img.mandela-quote {
  float: right;
  width: 140px;
  height: 140px;
  shape-outside: circle(50%);
  border-radius: 50%;
  background-color: #fbb040;
}

blockquote {
  font-size: 1.5rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}
blockquote p:first-of-type:before {
  content: open-quote;
}

.news-banner {
  border: 4px solid #e47b25;
  border-left: none;
  border-right: none;
  background-color: rgba(228, 123, 37, 0.15);
  padding: 1em 0.5em !important;
}

.news-banner-inner {
  margin: auto;
  gap: 0.5em;
  display: flex;
  width: 100%;
  max-width: 1000px;
  justify-content: space-around;
}
.news-banner-inner p {
  margin-bottom: 0.25rem;
}
.news-banner-inner img {
  width: 100%;
  margin: auto;
}

@media (min-width: 1030px) {
  .intro-full-width {
    padding: 2rem;
  }
  .intro-full-width img.mandela-quote {
    border-radius: 0;
    background-color: transparent;
    float: right;
    width: 400px;
    shape-outside: polygon(27.18% 49.36%, 24.71% 20.39%, 30.52% -2.6%, 100.83% -2.73%, 102.41% 99.83%, 0% 100%, -0.49% 66.87%, 7.72% 56.49%);
  }

  blockquote {
    font-size: 2.5rem;
  }
}
@font-face {
  font-family: "orangejuice";
  src: url("../fonts/orange-juice.woff");
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  hyphens: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:target:before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}

body {
  font-size: 18px;
  line-height: 1.4;
  color: #08283F;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #fff;
}
body a {
  color: rgba(8, 40, 63, 0.7);
  transition: all 0.04s ease-in;
}
body a:visited {
  color: #08283F;
}
body a:hover, body a:visited:hover, body a:focus, body a:visited:focus {
  color: #08283F;
}

#container #content {
  margin-top: 0;
}
#container #inner-content {
  margin-top: 1.5em;
}
#container p {
  margin-top: 0;
  hyphens: none;
}
#container p.has-large-font-size {
  line-height: 110%;
}
#container p.font-light {
  font-weight: 100;
}
#container h1, #container h2, #container h3, #container h4, #container h5, #container h6 {
  font-weight: 700;
  line-height: 110%;
  margin-top: 0;
}
#container h1.alt-font, #container h2.alt-font, #container h3.alt-font, #container h4.alt-font, #container h5.alt-font, #container h6.alt-font {
  font-family: "Source Sans Pro";
}
#container h1 {
  font-size: 2.5em;
}
@media (min-width: 768px) {
  #container h1 {
    font-size: 4rem;
  }
}
#container h2 {
  font-size: 2em;
}
@media (min-width: 768px) {
  #container h2 {
    font-size: 3.5rem;
  }
}
#container h3 {
  font-size: 1.8em;
}
@media (min-width: 768px) {
  #container h3 {
    font-size: 2rem;
  }
}
#container h4 {
  font-size: 1.5em;
}
@media (min-width: 768px) {
  #container h4 {
    font-size: 1.7rem;
  }
}
#container hr {
  margin: 2em 0;
  border: none;
  height: 1px;
  background-color: #3b89a7;
}
#container hr.blank-space {
  background-color: transparent;
}
#container img,
#container .wp-block-image img {
  height: auto;
}
#container .wp-block-button__link {
  background: #08283F;
  color: #fff;
}
#container .wp-block-button__link:hover {
  background: #3b89a7;
}
#container .button {
  border: none;
  background-color: rgba(59, 137, 167, 0.8);
  color: #08283F;
  padding: 6px 16px;
  border-radius: 4px;
  font-weight: 700;
  transition: all 0.1s ease-out;
  text-decoration: none;
}
#container .button:hover {
  background-color: #08283F;
  color: #fbb040;
}
#container .button.ghost {
  border: 2px solid #08283F;
  background: transparent;
}
#container .button.ghost:hover {
  background-color: #08283F;
  color: #fff;
}
#container .wrap {
  width: 1440px;
  max-width: 100vw;
  padding: 0 2vw;
}
#container .header {
  background-color: #f89827;
  background-image: url(https://southernaboriginalsports.com.au/wp-content/uploads/2021/08/Website-Background-blue.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 30;
}
#container .header .social-icons {
  font-size: 1rem;
  grid-gap: 0.5rem;
  position: absolute;
  top: 3rem;
  right: 0.15rem;
  margin: 0;
  display: block;
}
#container .header .social-icons li {
  margin: 0.25rem 0;
}
@media (min-width: 768px) {
  #container .header .social-icons {
    right: 0.5rem;
    left: auto;
    display: flex;
    top: 1rem;
    font-size: 1.5rem;
  }
}
#container .header .hamburger {
  transform: scale(0.75);
  transform-origin: top right;
  position: absolute;
  right: 0px;
  background-color: #fff;
  border-radius: 0 0 0 8px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  opacity: 0.8;
  z-index: 10;
}
#container .header .hamburger:hover {
  opacity: 1;
}
#container .header .hamburger p {
  margin: 0.3em 0 0 0;
  line-height: 0;
}
#container .header .hamburger .hamburger-inner {
  background: #fbb040;
}
#container .header .hamburger .hamburger-inner:before {
  background: #08283F;
}
#container .header .hamburger .hamburger-inner:after {
  background: #3b89a7;
}
#container .header nav {
  font-size: 0.9rem;
  display: none;
}
@media (min-width: 768px) {
  #container .header .hamburger {
    display: none;
  }
  #container .header nav {
    display: inherit;
  }
  #container .header nav ul.nav {
    display: flex;
  }
  #container .header nav ul.nav a:hover, #container .header nav ul.nav a:focus, #container .header nav ul.nav a:visited, #container .header nav ul.nav a:visited:hover, #container .header nav ul.nav a:visited:focus {
    color: #fff;
  }
}
#container .section-header-logo {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#container .section-header-logo a {
  line-height: 0;
}
#container .section-header-logo svg {
  width: 150px;
  height: 150px;
  margin: auto;
}
#container .section-header-logo h4 {
  font-size: clamp(.9rem, 4vw, 1.3rem );
  line-height: 110%;
  margin-bottom: 1em;
}
@media (min-width: 768px) {
  #container .section-header-logo {
    text-align: left;
  }
  #container .section-header-logo svg {
    width: 200px;
    height: 200px;
  }
  #container .section-header-logo .header-layout {
    height: 100%;
    align-items: start;
    justify-content: flex-end;
    margin: 0;
  }
}
@media (min-width: 768px) and (min-width: 1030px) {
  #container .section-header-logo .header-layout {
    padding-left: 2vw;
  }
}
@media (min-width: 768px) {
  #container .section-header-logo h4 {
    margin: 3rem 0 1.05rem 0;
  }
}
@media (min-width: 768px) {
  #container .section-header-logo .nav {
    padding-bottom: 1em;
  }
}
@media (min-width: 768px) {
  #container .section-header-logo .nav > li {
    margin-right: 1px;
  }
  #container .section-header-logo .nav > li:first-child a {
    border-radius: 5px 0 0 5px;
  }
  #container .section-header-logo .nav > li:last-child a {
    border-radius: 0 5px 5px 0;
  }
  #container .section-header-logo .nav > li a {
    text-decoration: none;
    background: #08283F;
    padding: 1rem 0.8rem;
    font-size: 0.9rem;
  }
  #container .section-header-logo .nav > li a:hover {
    background: #3b89a7;
  }
  #container .section-header-logo .nav > li .sub-menu {
    background: none;
    border: none;
  }
  #container .section-header-logo .nav > li .sub-menu a {
    min-width: 180px;
  }
}
#container .header.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -10;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
}
#container .header.active .social-icons {
  display: flex;
  top: auto;
  bottom: 0.2rem;
}
#container .header.active svg {
  width: 100px;
  height: 100px;
}
#container .header.active .section-header-logo .header-layout {
  justify-content: center;
}
#container .header.active nav {
  margin: 0 auto 0 0;
}
#container .header.active nav ul {
  padding: 0;
}
#container .header.active .alt-font {
  display: none;
}
#container .u-center {
  text-align: center;
}
#container .u-margin-bottom-zero {
  margin-bottom: 0;
}
#container .u-margin-bottom-half {
  margin-bottom: 0.5rem;
}
#container .u-margin-bottom-1rem {
  margin-bottom: 1rem;
}
#container .u-margin-bottom-2rem {
  margin-bottom: 2rem;
}
#container .u-bg-color {
  padding: 2vh 2vw;
}
#container .u-bg-color * {
  color: #fff;
}
#container .u-bg-color.u-bg-color--orange {
  background-color: #e47b25;
}
#container .o-grid-layout {
  display: grid;
}
#container .o-grid-layout > * {
  margin: auto;
}
#container .o-grid-layout img {
  width: 100%;
}
@media (min-width: 768px) {
  #container .o-grid-layout--auto-1 {
    grid-template-columns: auto 1fr;
  }
  #container .o-grid-layout--columns-two-default {
    grid-template-columns: 1fr 1fr;
  }
}
#container .o-flex-layout {
  display: flex;
}
#container .o-flex-layout.o-flex-layout--column {
  flex-direction: column;
}
#container .o-flex-layout.o-flex-layout--space-evenly {
  justify-content: space-evenly;
}
#container .gap-small {
  gap: 0.25rem;
}
#container .gap-medium {
  gap: 0.5rem;
}
#container .gap-1rem {
  gap: 1rem;
}
#container .gap-2rem {
  gap: 2rem;
}
#container .position-absolute {
  position: absolute;
}
#container .position-relative {
  position: relative;
}
@media (max-width: 768px) {
  #container .two-column-intro .content {
    margin-bottom: 3rem;
  }
}
#container .sas-presents-logo {
  width: auto;
  max-width: 100%;
  max-height: 200px;
}

.hentry {
  border-radius: 8px;
}

.widget {
  padding: 0 10px;
  margin: 2.2em 0;
}

.sidebar {
  background-color: rgba(59, 137, 167, 0.3);
  background-image: url(https://southernaboriginalsports.com.au/wp-content/uploads/2021/08/Website-Background-blue.jpg);
  background-size: auto;
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 8px;
  margin-top: 0;
}

#media_image-2 {
  text-align: center;
  margin: 1rem 0;
}
#media_image-2 img {
  height: 100px;
  width: auto;
}

#search-2 {
  margin-top: 1rem;
}

.fts-jal-fb-header {
  display: none;
}

.searchform {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
.searchform input[type=search] {
  border: 2px solid #3b89a7;
  background: #fff;
  min-width: 100%;
  box-sizing: inherit;
  padding: 12px;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 0.5rem;
  color: #08283F;
}
.searchform button {
  align-self: flex-start;
  border: none;
  background-color: rgba(59, 137, 167, 0.8);
  background-color: #fbb040;
  color: #08283F;
  padding: 6px 16px;
  border-radius: 4px;
  font-weight: 700;
  transition: all 0.2s ease-out;
}
.searchform button:hover {
  background-color: #08283F;
  color: #fbb040;
  transform: scale(1.05);
  transform-origin: top left;
}

section.parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.parallax:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #eaedf2, transparent);
  z-index: 10;
}
section.parallax:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eaedf2;
  background: #33738e;
  z-index: 10;
  mix-blend-mode: color;
}
section.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#text {
  position: relative;
  color: #fff;
  font-size: 10em;
  z-index: 1;
}

#road {
  z-index: 2;
}

#moon {
  transform-origin: center;
}

.hentry {
  border: none;
}

.programs-grid {
  margin: auto;
  width: 820px;
  max-width: 1300px;
  height: 1730px;
  max-height: 1730px;
  grid-template-columns: 31.7% 31.7% auto;
  grid-template-rows: 190px 150px 150px 150px 150px 150px 150px 190px;
}
.programs-grid .program {
  background-image: url("../images/hexagon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  width: 300px;
  margin: 0;
  justify-self: start;
}
.programs-grid .program:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in;
}
.programs-grid .program img {
  width: 100%;
  margin: auto;
  object-fit: contain;
  transform: scale(0.6);
}
.programs-grid .program.program-1 {
  grid-area: 2/2/4/3;
}
.programs-grid .program.program-2 {
  grid-area: 3/1/5/2;
}
.programs-grid .program.program-3 {
  grid-area: 3/3/4/4;
}
.programs-grid .program.program-4 {
  grid-area: 4/2/5/3;
}
.programs-grid .program.program-5 {
  grid-area: 5/1/7/2;
}
.programs-grid .program.program-6 {
  grid-area: 6/2/8/3;
}
.programs-grid .program.program-7 {
  grid-area: 5/3/7/4;
}

@media (max-width: 900px) {
  .programs-grid {
    width: 515px;
    height: auto;
    grid-template-columns: 31.7% 31.7% auto;
    grid-template-rows: auto 95px 95px 95px 95px 85px 80px 80px;
  }
  .programs-grid .program {
    width: 187px;
  }
  .programs-grid .program img {
    width: 100%;
    margin: auto;
    object-fit: contain;
    transform: scale(0.6);
  }
}
@media (max-width: 570px) {
  #container .o-grid-layout.programs-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #container .o-grid-layout.programs-grid .program {
    width: 260px;
    height: 240px;
  }
}
/* custom.css | http://localhost:8888/southernaboriginalsports/wp-content/themes/southernaboriginalsports/library/css/custom.css?v=7 */

/*# sourceMappingURL=custom.css.map */
